TELEGRAM_BOT_TOKEN=123456:replace-with-bot-token
TELEGRAM_OWNER_ID=123456789
GITHUB_TOKEN=ghp_replace_with_github_token
GITHUB_REPO=WiegerWolf/blog
AUTO_FINALIZE_MINUTES=10
AUTO_FINALIZE_RETRY_MINUTES=30
